[Unit]
Description=System Backup to GCS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/backup.sh
User=root
Group=root

